{%extends 'home.html'%}


{% block content%}

{% if error %}

<p class="headers">{{error}}</p>
{% endif%}
<br>

<h1>Partipation Certificates</h1>
<br>

{% if data%}
    <p><b>You certificates are :- </b></p>
    <br>
    {% for each in data%}
        <form method="post" action="{%url 'cert_gen' %}">
            {%csrf_token%}
            <p>{{each}}  <textarea hidden cols=100 rows=1 name="usr">{{nm}}</textarea> &nbsp
                <input hidden type="text" name="contest" value={{each}}>
            <input type="submit" value="Generate certificate"/>
            </p>
        </form>
    
    {%endfor%}

{%else%}
<br>
<p>You did not participate in any.</p>
{%endif%}

{%endblock%}